[Unit]
Description=User-startup
Documentation=https://github.com/allgreed/dotfiles
After=network.target

[Service]
Type=simple
User={{ ansible_env.USER }}
WorkingDirectory={{ ansible_user_dir }}
ExecStart={{ ansible_user_dir }}/.scripts/hooks/on-startup
Restart=on-abort

[Install]
WantedBy=multi-user.target
