# this config changes extremely often and all I'll ever want is allready setup
config/htop/htoprc

# ansible retry files
*.retry

# d2d work with ansible
test_inventory
testbook.yml
run_test
run_wip
prepare_wip
