[Unit]
Description=Nix-manifest-tracker
Documentation=https://github.com/allgreed/dotfiles
After=multi-user.target

[Service]
Type=idle
User={{ ansible_env.USER }}
ExecStart={{ ansible_user_dir }}/.scripts/nix-manifest-track
Restart=always
RestartSec=1s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target

